{% extends 'admin/master.html' %}

{% block body %}
  <section>
      <div class="container">
          <div class="row">
            {% if current_user.is_authenticated %}
                <h4 class="text-center">Welcome to Admin Dashboard!!</h4>
            {% else %}
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="jumbotron">
                  <form action="" method="post">
                    <h3 class="text-center text-uppercase"><b>Admin Login</b></h3>
                    <div class="form-group">
                        <label class="control-label"><b>UserName</b></label>
                        <input type="text" class="form-control" id="inputDefault">
                    </div>
                    <div class="form-group">
                      <label class="control-label"><b>Password</b></label>
                      <input type="password" class="form-control" id="inputDefault">
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-success btn-lg btn-block">Login</button>
                    </div>
                  </form>
              </div>
              <div class="col-lg-3"></div>
              {% endif %}
          </div>
      </div>
  </section>
{% endblock %}