{% extends 'admin/master.html' %}

{% block body %}
  <p class="text-center">Hello world</p>
  <section>
      <div class="container">
          <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center">
                  <input class="form-group"  type="text" name="" id="" placeholder="Email"><br>
                  <input class="form-group" type="password" name="" id="" placeholder="Password"><br>
                  <input class="btn btn-primary" type="button" value="login">
              </div>
              <div class="col-lg-4"></div>
          </div>
      </div>
  </section>
{% endblock %}