{% extends 'admin_layout.html' %}
{% block body %}

    <!--Extended page started-->
            
        <!--Heading-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--End heading-->
        <!--Admin dashboard-->
        <div class="alert alert-success" role="alert">
            Welcome To Admin Dashboard!
        </div>
        <!--end admin dashboard-->

    <!--Extended page end-->

{%endblock%}