<!DOCTYPE HTML>
<html lang="en">
<head>
	{% if title %}
        <title>Ednews - {{ title }}</title>
    {% else %}
        <title>Ednews</title>
    {% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{{url_for('static', filename='plugin-frameworks/bootstrap.css')}}" rel="stylesheet">
	
	<link href="{{url_for('static', filename='fonts/ionicons.css')}}" rel="stylesheet">
	
		
	<link href="{{url_for('static', filename='common/styles.css')}}" rel="stylesheet">
	<style>
		.invalid-feedback{color: red; padding-left: 5px;}
		.btn-clor{background-color: #0C0E68; color: aliceblue;}
		.module { margin: 0 0 1em 0; overflow: hidden; }
        .module p { margin: 0;}
        .line-clamp {display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
	</style>
	
</head>
<body>
	
	<header>
		<div class="top-header">
			<div class="container">	
				<div class="oflow-hidden font-9 text-sm-center ptb-sm-5">
				
					<ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10 list-a-ptb-xs-5">
						<li><a class="pl-0 pl-sm-10" href="#">India, Kerala
							<i class="ion-android-cloud-outline"></i> 28 &#8451;</a></li>
						<li><a href="#">{{date}}</a></li>
						<li><a href="#">{{time}}</a></li>
					</ul>
					<ul class="float-right float-sm-none font-13 list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5 color-ash">
						<li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="ion-social-twitter"></i></a></li>
						<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
						<li><a href="#"><i class="ion-social-google"></i></a></li>
						<li><a href="#"><i class="ion-social-rss"></i></a></li>
					</ul>
					
				</div><!-- top-menu -->
			</div><!-- container -->
		</div><!-- top-header -->
		
		<div class="middle-header mtb-20 mt-xs-0">
			<div class="container">	
				<div class="row">
				
					<div class="col-sm-4">
						<a class="logo" href="#"><img src="{{url_for('static', filename='images/logo-black.png')}}" alt="Logo"></a>
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-8">
						<!-- Bannner bg -->
						<div class="banner-area dplay-tbl plr-30 plr-md-10 color-white">
							<div class="ptb-sm-15 dplay-tbl-cell">
								<h5>realestate.com.au</h5>
								<h6>Discover the latest properties of australia</h6>
							</div><!-- left-area -->
							
							<div class="dplay-tbl-cell text-right min-w-100x">
								<a class="btn-fill-white btn-b-sm plr-10" href="#">READ MORE</a>
							</div><!-- right-area -->
						</div><!-- banner-area -->
					</div><!-- col-sm-4 -->
					
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- top-header -->
		
		<div class="bottom-menu">
			<div class="container">
				
				<a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
				
				<ul class="main-menu" id="main-menu">
					<li>
						<a href="{{ url_for('main.home') }}">HOME</i></a>
					</li>
					<li>
						<a href="{{url_for('newss.categories', category='Business')}}">BUSINESS</i></a>
					</li>
					<li>
						<a href="{{url_for('newss.categories', category='Sports')}}">SPORTS</i></a>
					</li>
					<li>
						<a href="{{url_for('newss.categories', category='Politics')}}">POLITICS</i></a>
					</li>
					<li>
						<a href="{{url_for('newss.categories', category='Technology')}}">TECH</i></a>
					</li>
					<li>
						<a href="{{url_for('newss.categories', category='Travel')}}">TRAVEL</i></a>
					</li>
					<li>
						<a href="{{url_for('newss.categories', category='Entertainment')}}">ENTERTAINMENT</i></a>
					</li>
					
					{% if current_user.is_authenticated %}
					<li class="drop-down float-right"><a href="#!" class="text-uppercase">{{current_user.name}}<i class="ion-chevron-down"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="{{url_for('users.account')}}" class="text-center">Your Account</a></li>
							<li><a href="{{url_for('newss.addnews')}}" class="text-center">Add News</i></a></li>
							<li><a href="{{url_for('users.logout')}}" class="text-center">Logout</a></li>
						</ul>
					</li>
					{% else %}
					<li class="float-right">
						<a href="{{url_for('users.register')}}">REGISTER</i></a>
					</li>
					<li class="float-right">
						<a href="{{url_for('users.login')}}">LOGIN</i></a>
					</li>
					{% endif %}
				</ul>
				<div class="clearfix"></div>
			</div><!-- container -->
		</div><!-- bottom-menu -->
	</header>
	<!-- START OF MAIN SLIDER -->
	<section class="bg-primary p-0 pb-xs-20">
		<div class="container">
			<div class="row  ptb-10">
				<div class="col-md-8 col-lg-9">
					<a class="btn-fill-red plr-10 mtb-10 btn-b-md" href="#"><b>BREAKING NEWS</b></a>
					<a class="dplay-inl-block color-grey mtb-10 ml-15 ml-md-0 hover-grey" href="#">8:30 AM Eight People 
						have died and violent protest involving tens of thousands...</a>
				</div><!-- col-md-8 -->
				<div class="col-md-4 col-lg-3">
					<form class="abs-form mtb-10">
						<input type="text" placeholder="Search">
						<button type="submit"><i class="ion-ios-search"></i></button>
					</form>
				</div><!-- col-md-4 -->
			</div><!-- row -->
		</div><!-- container -->
	
    
    {% block body %}

    {% endblock %}

    <footer class="bg-191 pos-relative color-ccc bg-primary pt-50">
		<div class="abs-tblr pt-50 z--1 text-center">
			<div class="h-80 pos-relative"><div class="bg-map abs-tblr opacty-1"></div></div>
		</div>
		
		<div class="container">
			<div class="mt-20 brdr-ash-1 opacty-4"></div>
			
			<div class="text-center ptb-30">
				<div class="row">
					<div class="col-sm-3">
						<a class="mtb-10" href="#"><img src="{{url_for('static', filename='images/logo-white.png')}}" alt=""></a>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-5">
						<p class="mtb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat 
							tincidunt mauris semper lorem</p>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-4">
						<ul class="mtb-10 font-12 list-radial-35 list-li-mlr-3">
							<li><a href="#"><i class="ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="ion-social-google"></i></a></li>
							<li><a href="#"><i class="ion-social-rss"></i></a></li>
						</ul>
					</div><!-- col-sm-3 -->
				</div><!-- row -->
			</div><!-- text-center -->
		</div><!-- container -->
		
		<div class="bg-dark-primary ptb-15 text-left">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-12 col-md-6">
						<p class="text-md-center font-9 pt-5 mtb-5"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-12 col-md-6">
						<ul class="mtb-5 font-11 text-md-center text-right list-a-p-5">
							<li><a href="{{ url_for('main.home') }}">Home</a></li>
							<li><a href="{{url_for('newss.categories', category='Business')}}">Business</a></li>
							<li><a href="{{url_for('newss.categories', category='Sports')}}">Sports</a></li>
							<li><a href="{{url_for('newss.categories', category='Politics')}}">Politics</a></li>
							<li><a href="{{url_for('newss.categories', category='Technology')}}">Tech</a></li>
							<li><a href="{{url_for('newss.categories', category='Travel')}}">Travel</a></li>
							<li><a href="{{url_for('newss.categories', category='Entertainment')}}">Entertainment</a></li>
						</ul>
					</div><!-- col-sm-3 -->
				</div><!-- row -->
				
			</div><!-- container -->
		</div><!-- container -->
	</footer>
	
	<!-- SCIPTS -->
	
	<script src="{{url_for('static', filename='plugin-frameworks/jquery-3.2.1.min.js')}}"></script>
	
	<script src="{{url_for('static', filename='plugin-frameworks/tether.min.js')}}"></script>
	
	<script src="{{url_for('static', filename='plugin-frameworks/bootstrap.js')}}"></script>
	
	<script src="{{url_for('static', filename='common/scripts.js')}}"></script>
</body>
</html>